:root {
   --primary-color: #34CB79;
   --title-color: #322153;
   --text-color: #6C6C80;
}

* {
   margin: 0;
   padding: 0;
   font-family: Roboto, sans-serif;
   outline: none;
   box-sizing: border-box;
}

body {
   color: var(--text-color);
   font-size: 14px;
   background-color: #E8E8F8;
   -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
   color: var(--title-color);
   font-family: Ubuntu, sans-serif;
}